.icon-5x {
      font-size: 5em;
      &.icon-border {
        border-width: 5px;
        .border-radius(7px);
      }
    }

    .icon-6x {
      font-size: 6em;
      &.icon-border {
        border-width: 6px;
        .border-radius(8px);
      }
    }
    .icon-7x {
      font-size: 7em;
      &.icon-border {
        border-width: 7px;
        .border-radius(9px);
      }
    }
    .icon-8x {
      font-size: 8em;
      &.icon-border {
        border-width: 8px;
        .border-radius(10px);
      }
    }

